* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    height: 46.5px;
    background-color: black;
}

#nav {

}

#nav li {
    display: inline-block;
}

#nav li a {
    line-height: 46.5px;
    padding: 0 24px;
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
}

#nav li:hover a {
    color: black;
    background-color: #ccc;

}

#nav .subnav {
    display: none;
}

#main {

}

#slider {
    min-height: 800px;
    background-color: black;
}

#content {

}

#footer {

}
